<script src="./static/app_topic.js"></script>
<body onload="javascript:View.Init((new URL(window.location)).searchParams.get('id'))">
	    <!-- Navbar for branding -->
	    <nav class="navbar navbar-dark">
	    	<a class="navbar-brand" href="#">Every Logger</a>
		</nav>
		
	    <!-- Jumbotron for Variable's information -->
	    <div id="info" class="info" v-bind:class="{ 'info-errorbg': ErrorMsg != ''}">
	    	<div id="info-content" class="container-fluid" v-show="ErrorMsg == ''">
	    		<div class="row">
					<div class="col-sm-8">
						<p id="info-name">{{ TopicName }}</p>
						<p id="info-detail">{{ TopicDetail }}</p>
					</div>
					<div class="col-sm-4 flex-align">
						<p id="info-value" v-bind:class="{ 'color-increase': ValueDelta > 0, 'color-decrease': ValueDelta < 0 }">{{ RecievedDate != 0 ? Value.toFixed(2) : "..." }}</p>
						<div>
							<span class="badge badge-light" v-show="RecievedDate != 0">{{ ValueDateDelta }} 가져옴 </span>
							<span class="badge badge-light" v-show="RecievedDate != 0">{{ RecievedDateDelta }} 수신됨</span>
						</div>
						<p id="info-delta" v-bind:class="{ 'color-increase': ValueDelta > 0, 'color-decrease': ValueDelta < 0 }" v-show="isFinite(ValueDelta)">전일대비 {{ ValueDelta > 0 ? "+" : "" }}{{ ValueDelta.toFixed(2) }}%</p>
					</div>
				</div>
			</div>
			<div id="info-error" v-show="ErrorMsg != ''"><p class="info-error-title">Unexpected error caused!</p><p id="info-error-msg">{{ ErrorMsg }}</p></div>
	    </div>
	    
	    <div id="tab">
	    	<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" v-on:click="NowTab = 0" v-bind:class="{ active: NowTab == 0}">그래프</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" v-on:click="NowTab = 1" v-bind:class="{ active: NowTab == 1}">표</a>
				</li>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">{{ HumanTerm(Term) }}</button>
					<div class="dropdown-menu dropdown-menu-right">
				  		<template v-for="item in TermList">
				  			<a class="dropdown-item" v-on:click="TermChange(item)">{{ HumanTerm(item) }}</a>
				  		</template>
					</div>
				</div>
			</ul>
		    
		    <!-- Value display and infographics (graph, table and more?) -->
		    <figure class="highcharts-figure" v-show="NowTab == 0">
			    <div id="container"></div>
			</figure>
			
			<div id="table-wrapper" class="table-reponsive" v-show="NowTab == 1" v-if="History[Term] !== undefined">
				<p>총 {{ History[Term].length }}개의 데이터가 있습니다.</p>
				<table class="table table-dark" >
					<thead>
					    <tr>
					      <th scope="col">시간</th>
					      <th scope="col">값</th>
					    </tr>
				  	</thead>
				  	<tbody>
				  		<template v-for="item in History[Term]">
				  			<tr>
				  				<td scope="row">{{ moment(item[0]).format("YY/MM/DD HH:mm:ss") }}</th>	
				  				<td>{{ item[1] }}</td>
				  			</tr>
						</template>
				  	</tbody>
				  </table>
			</div>
	    </div>
</body>